.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100vw;
  background-image: url('/public/images/img404.jpg');
  background-size: cover;
  background-position: right top;
}

.leftSide {
  justify-self: center;
  align-self: center;
}
