:root {
  --blue: #051940;
  --fucsia: #c613da;
  --gradient-image: linear-gradient(
    0deg,
    rgba(198, 19, 218, 0.7) 0%,
    rgba(103, 22, 143, 0.6) 15%,
    rgba(5, 25, 64, 0.5) 45%
  );
  --gradient: linear-gradient(0deg, rgba(198, 19, 218, 1) 0%, rgba(103, 22, 143, 1) 15%, rgba(5, 25, 64, 1) 45%);
}

html {
  box-sizing: border-box;
  font-size: 12px;
  color: white;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 2rem;
}

p {
  margin: 0;
}

input:not([type='search']) {
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--fucsia);
  width: 200px;
  padding: 0.2rem;
  caret-color: white;
  color: white;
  font-size: 1.3rem;
}

input:focus,
button:focus {
  outline: none;
}

input::placeholder {
  color: whitesmoke;
  font-size: 1.3rem;
}

.bold {
  font-size: 1.6rem;
  font-weight: bold;
}

.mt-3 {
  margin-top: 6rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.title {
  font-size: 3rem;
}

.text-center {
  text-align: center;
}

.rounded {
  border-radius: 50%;
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  html {
    font-size: 10px;
  }
}
