.footer {
	position: absolute;
	position: absolute;
	bottom: 0;
	/* right: 0; */
	/* left: 0; */
	height: 70px;
	padding: 0 30px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.a,
.p {
	color: white;
	margin: 0 1rem;
	font-size: 1.3rem;
	text-decoration: none;
}
