.button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 35px;
  width: 200px;
  border-radius: 4px;
  background-color: #051940;
  border: 1px solid #c613da;
  color: white;
}

.secondary {
  border: 1px solid #3092cd;
}
