.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 70px);
  width: 100vw;
  background-image: var(--gradient);
  background-attachment: fixed;
  overflow: scroll;
  padding-bottom: 3rem;
}

.info {
  font-size: 1.3rem;
}

.info_highlight {
  font-size: 2rem;
  margin-right: 1rem;
}

.input {
  margin: 3rem 0 2rem 0;
  font-size: 2rem !important;
  border: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.input:focus {
  /* font-size: 1rem !important; */
  border: 0 !important;
  border-bottom: 1px solid var(--fucsia) !important;
}

.logout_button {
  width: 100%;
  margin: 0;
  margin-top: 1rem;
}
