.standings {
  margin: 0 auto;
  border-collapse: collapse;
}
.standings .tableHead,
.standings .teamPosition {
  color: #878787;
}
.standings .teamPosition {
  text-align: left;
}
.standings tr {
  border-bottom: 1px solid #dedede;
  line-height: 2.3em;
}
.standings tr:last-child {
  border: none;
}
.standings td {
  width: 35px;
}
.standings .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  text-align: left;
}
