.bigContainer {
  background-color: green;
}
.title {
  margin-top: 0;
  padding-top: 2rem;
  font-size: 3rem;
  text-align: center;
  color: red;
}

.container {
  height: calc(90vh - 11.67rem);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.containerTeam {
  height: 100%;
  width: 30%;
  border: 1px solid yellow;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerLogoTeam {
  height: 11.67rem;
  width: 11.67rem;
}

.logoTeam {
  height: 11.67rem;
  width: 11.67rem;
}

.nameTeam {
  font-size: 2rem;
  border: 1px solid #ccc;
}

.buttonVideoCall {
  border: 1px solid var(--fucsia);
  width: 9.42rem;
  height: 5.67rem;
  background-color: #051940;
}

.time {
  padding-top: 5rem;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeHour {
  font-size: 3rem;
}

.competition {
  border: 1px solid red;
  font-size: 2rem;
  color: #949494;
}

.containerPlayers {
  display: flex;
}

.containerPlayers p {
  padding: 1rem;
}
