.container{
  width: 100%;
}

.scroll {
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 100%;
  height: 300px;
  overflow: scroll;
  overflow-y: hidden;
}